.venv/
_torch_extensions/
**/__pycache__/
*.pyc
*.pyd
*.log

data/
results/
checkpoint/
sample/
logs/
course1_anime_faces/data/
course1_anime_faces/results/
course1_anime_faces/checkpoint/
course1_anime_faces/sample/
course1_anime_faces/logs/

local_config.cmd
.env

.ipynb_checkpoints/
.vscode/
.idea/
.DS_Store
Thumbs.db
