# Data and results
/data/*
/results/*

# Model checkpoints
*.pt
*.pth
*.ckpt

# Python cache
__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Torch / CUDA
_torch_extensions/
torch_extensions/
**/torch_extensions/

# ZSSGAN temp
sample/
checkpoint/
logs/

# Virtual env
.venv/

# IDE / OS
.ipynb_checkpoints/
.vscode/
.idea/
.DS_Store
Thumbs.db

# environments
.venv/
.env/

# pytorch / torch extensions
_torch_extensions/

# python cache
__pycache__/
*.pyc
